<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movie Recommender</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<style type="text/css">
    body{
    background-color: background: #00F260;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #0575E6, #00F260);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #0575E6, #00F260); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    }

</style>
<body>
<div style="text-align: center;background-color: #57595D"><br>
<a href="https://imgbb.com/"><img src="https://i.ibb.co/Q6h6BKf/text.gif" alt="text" border="0"></a>

    <h3 style="text-align: center;color: white">By Shubhodeep Karmakar</h3><hr/>
</div>

<div class="jumbotron">

		<div class="row">
			<div class="offset-md-4 col-md-4">
				<h1 class="lead text-md-center">Enter the Movie name</h1>
                <h1 class="lead text-md-center">(Hollywood Only)</h1><br>
                <form style="text-align: center" action="/recommend" method="POST"><br>
				      <input type="text" class="form-control" name="movie_name" id="search_term"><br>
				      <button class="btn btn-info btn-block" type="submit" name=""><i class="fa fa-search"></i> Recommend</button>
                </form><br>
                <h3 class="lead text-md-center">Always enter the Movie name in correct gramatical form or the recommender will not work</h3><br>
<h4 class="lead text-md-center">ex: <strike>sky captain and the world of tomorrow</strike> Sky Captain and the World of Tomorrow</h4>

			</div>
		</div>
	</div>


{% if movie_list %}
     <h1 style="text-align: center"><a href="https://imgbb.com/"><img src="https://i.ibb.co/C7Tt5KG/text-2.gif" alt="text-2" border="0"></a></h1>
     <ul><br>
     {% for i in movie_list %}
          <h3 style="text-align: center;font-style: italic">{{i}}</h3>
     {% endfor %}
      </ul>
{% endif %}


<br><br><br><br>
<div class="col-md-12 copy">
        <p class="text-center text-light text-success">&copy; designed Copyright 2020 - By Shubhodeep Karmakar (shubhodeepkarmakar@gmail.com).</p>
      </div>

</body>
</html>
